<div class=container-f>
  <h1>Your Food List</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Action</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= number_to_currency(food.price, unit: "$") %></td>
        <td><%= link_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <div class="mov">
    <button class="button">
      <%= link_to 'Add Food', new_food_path %>
    </button>
  <div>

</div>
