<h1>Add New Food Item</h1>

<%= form_for @food do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Food' %>
  </div>
<% end %>

<%= link_to 'Back to Food List', foods_path %>
