<h1>Edit an ingredient</h1>

<%= form_with(model: [@recipe, @recipe_food], url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch) do |form| %>
  <% if @recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>
      <ul>
        <!-- Error messages handling -->
        <% @recipe_food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form fields -->
  <%= form.label :food_id, "Food" %>
  <%= form.collection_select :food_id, [@recipe_food.food], :id, :name %>
  <%= form.label :quantity, "Quantity" %>
  <%= form.number_field :quantity %>

  <!-- Submit button -->
  <%= form.submit 'Save ingredient' %>
  <%= link_to 'Back', recipe_path(@recipe, @recipe_food), class: 'btn btn-secondary' %>
<% end %>
