<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Food List", foods_path %></li>
      <li><%= link_to "Recipe List", recipes_path %></li>
      <li><%= link_to "Public Recipes List", public_recipes_path %></li>
    </ul>

    <div class="flash-notice">
      <%= notice %>
    </div>
    <div class="flash-alert">
      <%= alert %>
    </div>
    <%= yield %>
  </body>
</html>
